:root {
    --color-primary: #646464;
    --color-background: #000000;
    --color-board: #e0bb6c;
    --color-board-lines: #343837;
    --color-current-stone: #0165fc;
}


html {
    font-size: 16px;
}

body {
    background-color: var(--color-background);
}


::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

::-webkit-scrollbar-corner {
    background: var(--color-background);
}


#debug { 
    color: white;
    overflow-wrap: break-word;
}

#boardContainer {
    margin: auto;
    width: 45rem;
    margin-top: 4.5rem;
}

#sgfName {
    color: var(--color-background);
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
}

#board {
    background-color: var(--color-background);
    height: 53.5rem;
}

.besogo-svg-board {
    fill: var(--color-board);
}

.besogo-board svg text {
    fill: var(--color-board-lines);
}

.besogo-svg-lines {
    stroke: var(--color-board-lines);
}

.besogo-svg-hoshi {
    stroke: var(--color-board-lines);
}

.besogo-board svg g path[stroke="#0165fc"] {
    stroke: var(--color-current-stone);
}

.besogo-panels {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.besogo-control {
    flex-wrap: nowrap;
}

.besogo-control button {
    margin: 0 1px 0 1px;
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-primary);
    border: none;
}

.besogo-control button polygon {
    fill: var(--color-primary);
}

.btnActive {
    font-weight: 700;
}

.besogo-tree {
    height: 5.875rem;
}

.besogo-tree svg rect {
    fill: var(--color-background);
}

.besogo-tree svg rect[fill="#06c2ac"] {
   fill: var(--color-primary);
}

.besogo-tree svg g path {
    stroke: var(--color-primary);
}

#treeScrollbarX {
    background-color: var(--color-primary);
    height: 3rem;
}

#treeScrollbarY {
    margin-left: 3px;
    background-color: var(--color-primary);
    width: 3rem;
    height: 5rem;
}
