::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
}

body {
    background-color: black;
}

#board {
    background-color: black;
    height: 55rem;
}

#board-container {
    margin: auto;
    max-width: 45rem;
}

.besogo-control button {
    width: fit-content !important;
    background-color: black;
    color: rgb(100, 100, 100);
    border: none;
}

.besogo-control button polygon {
    fill: rgb(100, 100, 100);
}

.besogo-tree svg rect {
    fill: black;
 }

.besogo-tree svg rect[fill="#06c2ac"] {
   fill: rgb(100, 100, 100);
}
