@media (max-width: 1000px) {
    #boardContainer {
        width: 100%;
        margin-top: 0;
    }

    .besogo-control {
        flex-wrap: wrap;
    }

    .besogo-control button {
        width: 12%;
        height: 4.5rem;
        font-size: 3em;
    }

    .besogo-control button[title="Previous node"],
    .besogo-control button[title="Next node"],
    #stopBtn,
    #startBtn,
    #prevSGFBtn,
    #nextSGFBtn {
        width: 45%;
    }

    .besogo-tree {
        height: 30rem;
    }

    #treeScrollbarX {
        display: none;
    }

    #treeScrollbarY {
        display: none !important;
    }
}
